﻿@page
@model AdvertisementRazorView.Pages.Advertisements.CreateModel

@{
    ViewData["Title"] = "Create";
}
@*Теги с полужирным шрифтом для вспомогательных функций тегов*@
<h1>Create</h1>

<h4>AdvertisementCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdvertisementCard.Number" class="control-label"></label>
                <input asp-for="AdvertisementCard.Number" class="form-control" />
                <span asp-validation-for="AdvertisementCard.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvertisementCard.Created" class="control-label"></label>
                <input asp-for="AdvertisementCard.Created" class="form-control" />
                <span asp-validation-for="AdvertisementCard.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvertisementCard.AdvertisementText" class="control-label"></label>
                <input asp-for="AdvertisementCard.AdvertisementText" class="form-control" />
                <span asp-validation-for="AdvertisementCard.AdvertisementText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvertisementCard.Rating" class="control-label"></label>
                <input asp-for="AdvertisementCard.Rating" class="form-control" />
                <span asp-validation-for="AdvertisementCard.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
