﻿@page
@model AdvertisementRazorView.Pages.Advertisements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdvertisementCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementCard.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementCard.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementCard.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementCard.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementCard.AdvertisementText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementCard.AdvertisementText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementCard.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementCard.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AdvertisementCard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
