﻿@page
<!--директива page преобразует файл в действие MVC и может обрабатывать запросы-->
@model AdvertisementRazorView.Pages.Advertisements.IndexModel
<!--директива model определяет тип модели, передаваемую на страницу Razor
   Класс IndexModel делается доступным для страниц Razor.
    Модель используется на странице во вспомогательных методах HTML Html.DisplayNameFor и
    Html.DisplayFor-->
@{
    ViewData["Title"] = "Index";
    <!--{}-переход Razor на c#. Базовый класс PageModel содержит св-во словаря ViewData
      св-во Title используется в файле _Layout.cshtml  -->
}

<h1>Index</h1>
@*Razor комментарий не отправляется клиенту в отличии от HTML*@
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!--DisplayNameFor проверяет свойство Number в лямбда-выражении.
                    ЛВ не вычисляется, а провеоряется -->
                @Html.DisplayNameFor(model => model.AdvertisementCard[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementCard[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementCard[0].AdvertisementText)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdvertisementCard[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AdvertisementCard)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvertisementText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
